{% extends "conversion/layout.html" %}

{% block body %}
    <table id="variant_table" class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 200px" scope="col">Gene</th>
                <th style="width: 200px" scope="col">Protein</th>
                <th style="width: 200px" scope="col">Coding</th>
                <th style="width: 380px" scope="col">Genomic</th>
                <th style="width: 300px" scope="col">VarID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ gene.name }}</td>
              <td>{{ protein_variant}}</td>
              <td>c.{{ gene.variant_position }} {{ gene.wt_allele }}/{{ gene.mt_allele }}</td>
              <td>{{ genomic_variant }}</td>
              <td>{{ variant_id }}</td>
              <td style="border: none; padding-left: 100px;"></td>
            </tr>
        </tbody>
    </table>

    <a id="browser_button" role="button" href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position={{chromosome}}%3A{{gdna_start}}" class="btn btn-success" target="_blank">Genome Browser</a>
    <a id="gnomad_button" role="button" href="https://gnomad.broadinstitute.org/variant/{{variant_id}}?dataset=gnomad_r2_1" class="btn btn-dark" target="_blank">gnomAD</a>
    
    {% include "conversion/tables.html" %}
{% endblock %}