{% extends "conversion/layout.html" %}

{% block body %}
    <table id="variant_table" class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 200px" scope="col">Gene</th>
                <th style="width: 200px" scope="col">Protein</th>
                <th style="width: 200px" scope="col">Coding</th>
                <th style="width: 380px" scope="col">Genomic</th>
                <th style="width: 300px" scope="col">VarID</th>
            </tr>
        </thead>
        <tbody>
        {% for coding, genomic, variant_id in variants %}
          <tr>
            <td>{{ gene.name }}</td>
            <td>p.{{ gene.wt_allele }}{{ gene.variant_position }}{{ gene.mt_allele }}</td>
            <td>c.{{ coding.0 }} {{ coding.1 }}/{{ coding.2}}</td>
            <td>{{ genomic.assembly }} Chr{{genomic.chromosome }}:{{genomic.gdna_start }} {{ coding.1 }}/{{ coding.2}}</td>
            <td>{{ variant_id }}</td>

            {% if var_ids|length > 1 %}
              <td style="border: none"><a role="button" href="https://gnomad.broadinstitute.org/variant/{{variant_id}}?dataset=gnomad_r2_1" class="btn btn-dark" target="_blank">gnomAD</a></td>
            {% else %}
              <td style="border: none; padding-left: 100px;"></td>
            {% endif %}
            
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <a id="browser_button" role="button" href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position={{chromosome}}%3A{{gdna_start}}" class="btn btn-success" target="_blank">Genome Browser</a>

    {% if var_ids|length == 1 %}
      <a id="gnomad_button" role="button" href="https://gnomad.broadinstitute.org/variant/{{var_ids.0}}?dataset=gnomad_r2_1" class="btn btn-dark" target="_blank">gnomAD</a>
    {% endif %}

    {% include "conversion/tables.html" %}
{% endblock %}