{% extends "conversion/layout.html" %}

{% block body %}
    <table id="variant_table" class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 200px" scope="col">Gene</th>
                <th style="width: 200px" scope="col">Protein</th>
                <th style="width: 200px" scope="col">Coding</th>
                <th style="width: 360px" scope="col">Genomic</th>
                <th style="width: 300px" scope="col">VarID</th>
            </tr>
        </thead>
        <tbody>
            {% for coding, genomic in variants %}
                <tr>
                    <td style="width: 200px">{{ gene_name }}</td>
                    <td style="width: 200px">{{ protein_variant }}</td>
                    <td style="width: 200px"> c.{{ coding.0 }} {{ coding.1 }}/{{ coding.2}}</td>
                    <td style="width: 200px"> {{ genomic.assembly }} Chr{{genomic.chromosome}}:{{genomic.gdna_start}} {{ coding.1 }}/{{ coding.2}}</td>
                    <td style="width: 200px"> {{ variant_id }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <u><h1 id="gnomad_title">Gnomad Data</h1></u>
    <table id="gnomad_table" class="table">
        <!-- <p id="variant_title">Variant {{variant_id}}</p> -->
        <thead class="thead-light">
            <th scope="col">Ethnicity</th>
            <th scope="col">Allele Count</th>
            <th scope="col">Allele Number</th>
            <th scope="col">Homozygotes</th>
            <th scope="col">Allele Frequency</th>
        </thead>
        <tbody>
        {% for key, values in gnomad_data.items %}
            {% if key != 'totals' %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.allele_count }}</td>
                    <td>{{ values.allele_count }}</td>
                    <td>{{ values.allele_number }}</td>
                    <td>{{ values.homozygotes }}</td>
                    <td>{{ values.allele_freq }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td><b>TOTAL</b></td>
            <td>{{ gnomad_data.totals.allele_count }}</td>
            <td>{{ gnomad_data.totals.allele_number }}</td>
            <td>{{ gnomad_data.totals.homozygotes  }}</td>
            <td>{{ gnomad_data.totals.allele_freq }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}