.grid-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 400px auto;
}

.grid-item {
    padding: 60px;
  }

/*Gene name input*/
#gene_name {
    width: 100px;
    margin-bottom: 20px;
}

/* cDNA text box */
#textbox {
    width: 200px;
} 

/* Amino acid inputs */
#wt_aa, #mt_aa {
    width: 61px;
}

/*AA input div*/
#aa_input{
    width: 400px;
}

/*Selections for aa input*/
#aa_input, #wt_aa, #aa_location, #mt_aa{
    float: left;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Button to submit form*/
#coding_button{
    width: 200px;
    margin-left: 44px;
}

/*NT input div*/
#nt_input {
    width: 400px;
    margin-left: 8px;
}

#nt_input > select {
    width: 50px;
}

/*Selections for nt input*/
#nt_input, #wt_nt, #nt_location, #mt_nt{
    float: left;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Button to submit form*/
#protein_button{
    width: 200px;
    margin-left: 35px;
    padding-bottom: 40px;
}

::-webkit-input-placeholder {
    text-align: center;
  }

#variant_table, #aa_table{
    width: 850px;
}

#variant_table, #aa_table th, td{
    text-align: center;
}