.row {
    margin-top: 80px;
}

.col-md-4 {
    padding-left: 5%;
}

.col-md-8 {
    min-width: 700px;
}

div.alert {
    text-align: center;
    position: relative;
    top: 60px;
}

/*Gene name input*/
#gene_name {
    width: 100px;
}

/* cDNA text box */
#textbox {
    width: 200px;
} 

/*Protein variant div*/
#aa_input{
    width: 400px;
}

/* Amino acid inputs */
#wt_aa, #mt_aa {
    width: 61px;
}

/*Selections for aa input*/
#aa_input, #wt_aa, #aa_location, #mt_aa{
    float: left;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Button to submit form*/
#coding_button{
    width: 200px;
    margin-left: 44px;
}

/*NT input div*/
#nt_input {
    width: 400px;
    margin-left: 8px;
}

/*Selections for nt input*/
#nt_input, #wt_nt, #nt_location, #mt_nt{
    float: left;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Button to submit form*/
#protein_button {
    width: 200px;
    margin-left: 44px;
    padding-bottom: 40px;
}

::-webkit-input-placeholder {
    text-align: center;
  }


#aa_table tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

#aa_table tr > td {
    height: 27px;
    border-bottom: 1px solid #ddd;
}

#gnomad_table, #variant_table, #aa_table th, td{
    text-align: center;
}

#variant_table, #aa_table {
    width: 900px;
}

#variant_table {
    margin-bottom: 0px;
}

#browser_button, #gnomad_button {
    float: left;
}

#browser_button {
    margin-left: 420px;
}

#gnomad_button{
    position: absolute;
    margin-left: 93px;
}

#wt_info {
    text-align: center;
    margin-top: 80px; 
    width: 790px;
}

#mt_info, #gnomad_table {
    text-align: center;
    width: 790px;
}

#gnomad_table {
    margin-top: 50px;
}

footer{
    margin-top: 25px;
}